<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="link" params="link_name *origin inertial visual collision">
    <link name="${link_name}">
      <xacro:insert_block name="origin"/>
      <inertial>
        <origin rpy="${inertial['origin']['dr']}
                     ${inertial['origin']['dp']}
                     ${inertial['origin']['dY']}"
                xyz="${inertial['origin']['dx']}
                     ${inertial['origin']['dy']}
                     ${inertial['origin']['dz']}"/>
        <mass value="${inertial['mass']}"/>
        <inertia ixx="${inertial['inertia']['ixx']}"
                 ixy="${inertial['inertia']['ixy']}"
                 ixz="${inertial['inertia']['ixz']}"
                 iyy="${inertial['inertia']['iyy']}"
                 iyz="${inertial['inertia']['iyz']}"
                 izz="${inertial['inertia']['izz']}"/>
      </inertial>
      <visual>
        <origin rpy="${visual['origin']['dr']}
                     ${visual['origin']['dp']}
                     ${visual['origin']['dY']}"
                xyz="${visual['origin']['dx']}
                     ${visual['origin']['dy']}
                     ${visual['origin']['dz']}"/>
        <geometry>
          <mesh filename="package://ar4_description/meshes/${link_name}.STL"/>
        </geometry>
        <material name="">
          <color rgba="1 1 0 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="${collision['origin']['dr']}
                     ${collision['origin']['dp']}
                     ${collision['origin']['dY']}"
                xyz="${collision['origin']['dx']}
                     ${collision['origin']['dy']}
                     ${collision['origin']['dz']}"/>
        <geometry>
          <mesh filename="package://ar4_description/meshes/${link_name}.STL"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
