<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GripperGazeboSystem" type="system">

      <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>

      <joint name="finger_joint_1">
        <command_interface name="position" />
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="finger_joint_2">
        <param name="mimic">finger_joint_1</param>
        <param name="multiplier">1</param>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

    </ros2_control>

</robot>
