<?xml version="1.0"?>
<robot name="ar4" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ar4_description)/urdf/ar4.urdf.xacro" />.
  <xacro:include filename="$(find ar4_gazebo)/urdf/ar4.ros2_control.xacro" />
  <xacro:include filename="$(find ar4_gazebo)/urdf/ar_gripper.ros2_control.xacro" />

  <link name="world" />

  <joint name="joint_world" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <gazebo reference="base_link">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="link_1">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="link_2">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="link_3">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="link_4">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="link_5">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="link_6">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="gripper_jaw1_joint">
      <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="gripper_jaw2_joint">
      <selfCollide>true</selfCollide>
  </gazebo>
</robot>
